@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

:root {
    --bg-c-1: #fefdfa;
    --bg-c-2: #fff;

    --font-c-1: #000;
    --font-c-2: #101317;
    --font-c-3: #504034;
    --font-c-4: #594739;
    --font-c-5: #f2f2f2;
}

/* reset */
html{height:100%}
body{min-height:100%; -webkit-touch-callout:none; -webkit-user-select:none; background-color:var(--bg-c-2);touch-action: pan-x pan-y;}
body, html {margin:0; padding:0; line-height:1.5;}
body, button, input, textarea, th, td {font-family:"Gowun Batang", serif; color: var(--font-c-2);}
div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, button,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; font-size:100%; font-family:inherit; font-weight:inherit; line-height:inherit; border:0 none; box-sizing:border-box;
}
*::after, *::before {box-sizing:border-box;}
li {list-style:none;}
strong {font-weight:bold;}
button {background-color:transparent; color:inherit;}
input[type=text], input[type=password], input[type=tel], input[type=number] {-webkit-appearance:none;}
a {text-decoration:none; color:var(--font-neutral-2); outline:0;}
a, label, button {-webkit-tap-highlight-color: transparent;}
i, em {font-style:normal;}
img {max-width:100%;}
table {border-collapse:collapse; border-spacing:0; width:100%;}
caption {overflow:hidden; width:0; height:0; text-indent:-9999px;}

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
}

main {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.intro-wrap {
    position: fixed;
    width: 100%;
    max-width: 390px;
    padding: 75px 20px 30px;
    text-align: center;
    color: var(--font-c-4);
    background: url(/Wedding/assets/images/bg01.png) center top /100% auto no-repeat;
}
.intro-wrap .s-txt {
    padding-top: 110px;
    margin-bottom: 20px;
    background: url(/Wedding/assets/images/ico1.png) center top / 80px no-repeat;
    font-size: 14px;
}
.intro-wrap .tit {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 35px;
}
.intro-wrap::after {
  content: "keyboard_arrow_down"; /* 여기에 원하는 아이콘 이름을 적습니다 */
  font-family: 'Material Icons Sharp';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  margin-top: 20px;
}

.wedding-contents {
    margin-top: 430px;
    position: relative;
    z-index: 5;
    background-color: var(--bg-c-1);
    padding: 24px 24px 60px;
}

.greeting {
    padding: 30px 0;
    text-align: center;
}

.greeting::before {
    display: block;
    width: 80px;
    height: 60px;
    margin: 0 auto 30px;
    content: '';
    background: url(/Wedding/assets/images/ico8.png) center /100% auto no-repeat;
}

.half {
    position: relative;
    margin: 35px 0;
    padding: 30px 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.half::after,
.half::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 50%;
    height: 1px;
    background: rgba(0,0,0,0.1);
    content: '';
}
.half::before {top: 0;}
.half::after {bottom: 0;}
.half .parent {
    font-size: 17px;
}
.half .sub {
    margin-top: 10px;
    font-size: 15px;
}
.half .name {
    margin-top: 15px;
    font-size: 19px;
    font-weight: 700;
}

.place {
    font-size: 17px;
    line-height: 28px;
}
.gallery {
    position: relative;
    padding-top: 150px;
}
.gallery::before {
    position: absolute;
    top: 20px;
    right: 0;
    width: 40px;
    height: 100px;
    content: '';
    background: url(/Wedding/assets/images/ico3.png) 0 0 /100% auto no-repeat;
}
.gallery::after {
    position: absolute;
    top: 30px;
    right: 45px;
    width: 40px;
    height: 100px;
    content: '';
    background: url(/Wedding/assets/images/ico2.png) 0 0 /100% auto no-repeat;
}

.gallery-wrap {
    padding: 16px 16px 50px;
    background: #f0eadf;
}
.gallery-continer .tit {
    padding: 16px 0;
    text-align: center;
    font-size: 15px;
    color: var(--font-c-3);
}
.gallery-util {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination {
    font-size: 15px;
    color: var(--font-c-3);
}
.gallery-util [class^=swiper-button] {
    top: -5px;
    height: 20px;
}
.gallery-util [class^=swiper-button]::after {
    color: var(--font-c-3);
    font-size: 20px;
}
.account {
    position: relative;
    padding-top: 180px;
}
.account::before {
    position: absolute;
    top: 85px;
    left: 50%;
    width: 80px;
    height: 78px;
    transform: translateX(-50%);
    background: url(/Wedding/assets/images/ico5.png) center / 100% no-repeat;
    content: '';
}
.account .tit {
    text-align: center;
    font-size: 17px;
    margin-bottom: 45px;
}
.account .t-wrap {
    padding: 0 15px;
}

.account .t-item {
    border-bottom: 1px solid #000;
}
.account .t-trigger {
    position: relative;
    padding: 15px 40px 15px 10px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    width: 100%;
    text-align: left;
}
.account .t-trigger::after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
    content: "keyboard_arrow_down"; /* 여기에 원하는 아이콘 이름을 적습니다 */
    font-family: 'Material Icons Sharp';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 1;
}
.account .t-trigger.active::after {
    transform: scale(-1);
}
.account .t-cont {
    border-top: 1px solid rgba(0,0,0, 0.1);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease;
}
.account .t-cont.expand {
    padding-top: 20px;
    max-height: 300px;
}
.account .a-item {
    position: relative;
    padding-right: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.account .a-item .btn-copy {
    position: absolute;
    bottom: 5px;
    right: 0;
    display: felx;
    align-items: center;
    font-size: 13px;
    color: var(--font-c-4);
    cursor: pointer;
}
.account .a-item .btn-copy span {
    font-size: 14px;
    margin-right: 5px;
}

.account .a-item p + p {
    margin-top: 5px;
}
.account .a-item p > span,
.account .a-item p > strong {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.map {
    position: relative;
    padding-top: 200px;
}
.map::before {
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -100px;
    content: '';
    width: 200px;
    height: 50px;
    background: url(/Wedding/assets/images/ico6.png) center / 150px no-repeat;
}
.map .tit {
    text-align: center;
    font-size: 17px;
    margin-bottom: 45px;
}
.map .location {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: var(--font-c-3);
}
.map .location span {
    display: block;
    font-size: 15px;
    font-weight: 400;
}
.map .map-area {
    margin-top: 20px
}
.map .map-info {
    margin-top: 50px;
    color: var(--font-c-4);
}
.map .map-info li + li {
    margin-top: 20px;
}
.map .map-info .title {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--font-c-3);
}
.map .map-info .title i {
    position: relative;
    top: -4px;
}
.bus-info-wrap {
    position: relative;
    padding-top: 120px;
}
.bus-info-wrap::before {
    position: absolute;
    top: 110px;
    left: 60px;
    width: 30px;
    height: 60px;
    background: url(/Wedding//assets/images/ico7.png) 0 0 / 100% no-repeat;
    content: '';
}
.bus-info-wrap .tit {
    font-weight: bold;
    color: var(--font-c-3);
    margin-bottom: 15px;
}
.bus-info-wrap .desc {
    text-align: center;
    font-size: 15px;
    line-height: 22px;
}
.bus-info-wrap .sub-txt {
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
}
.bus-info-wrap .tbl {
    margin-top: 35px;
    border-top: 2px solid var(--font-c-4);
    border-bottom: 1px solid var(--font-c-4);
}
.bus-info-wrap .tbl td {
    padding: 15px 5px;
}
.bus-info-wrap .tbl td + td {
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    text-align: right;
    font-weight: bold;
}
.bus-info-wrap .contact {
    margin-top: 10px;
    text-align: right;
    font-size: 14px;
}
.share {
    position: relative;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.btn-share {
    display: inline-flex;
    align-items: center;
    color: var(--font-c-3);
    padding: 10px 20px;
    border-radius: 100px;
    border: 1px solid var(--font-c-4);
}
.btn-share::before {
    content: '';
    width: 24px;
    height: 24px;
    margin-right: 4px;
    display: block;
    mask-repeat: no-repeat;
    mask-position: 0 0;
    mask-size: contain;
    background-color: var(--font-c-4);
}
.btn-share.kakao::before {
    mask-image: url(/Wedding/assets/images/ico_kakao.svg);
}
.btn-share.link::before {
    mask-image: url(/Wedding/assets/images/ico_link.svg);
}